html {
    font-family: Sans-serif;
    background-color: #0A1E36;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

header {
    height: 3vh;

    text-align: center;
}

header h1 {
    margin: 0px;
    padding: 0px;

    font-size: 3vh;
    color: white;
}

main {
    position: relative;
    height: 97vh;

    background-color: #f8f8f8;
}

#canvasContainer canvas {
    position: absolute;
    height: 100%;
    width: 100%;

    /** Used to hide editing cursor and caret created by contenteditable **/
    cursor: default;
    caret-color: transparent;
}

#canvasContainer #background {
    z-index: 1;
} 

#canvasContainer #foreground {
    z-index: 2;
} 

#canvasContainer #interact {
    z-index: 3;
} 